@font-face {
    src: url("../font/EarlyGameBoy.ttf");
}

.root {
	-fx-background-color: black;
}

.header {
 	-fx-alignment: center;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, #444444, 15, 0, 0, 0);
    -fx-opacity: 0.90;
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-font-family: 'Early GameBoy';
}

.subheading {
 	-fx-alignment: center;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, #444444, 15, 0, 0, 0);
    -fx-opacity: 0.90;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: 'Early GameBoy';
}

.menu_button {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, #444444, 15, 0, 0, 0);
    -fx-opacity: 0.90;
    -fx-text-fill: white;
    -fx-font-family: 'Early GameBoy';
}

.menu_button:hover {
    -fx-background-size: 95%;
    -fx-opacity:1;
    -fx-cursor: hand;
    -fx-text-fill: aqua;
}

.title {
	-fx-font-size: 50px;
    -fx-alignment: center;
    -fx-text-fill: linear-gradient(to top, green, #ffcc00) ;
    -fx-font-family: 'Early GameBoy';
}